.contenedor {
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  max-width: 30rem;
  background-color: white;
}

#fotos{
    width: 10rem;
    border-radius: 8px;
}

body{
    background-color: lightgray;
    
}

img{
    width: 10rem;
}